@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap");

/* Roots */

* {
  font-family: "Rubik", sans-serif;
  direction: rtl;
}

:root {
  background-color: #f8f8f8;
  /* background-color: #333; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-align: 15px;
  scroll-snap-stop: always;
  scroll-snap-type: proximity;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #dddddd00;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #2f1761;
}

/* Marked */

.mark {
  position: relative;
  padding: 0 0 10px;
}

.mark::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 12px;
  bottom: 0;
  left: 50%;
  z-index: -1;
  -webkit-transform: translate(-45px);
  -ms-transform: translate(-45px);
  transform: translate(-45px);
  background-color: #ffc221;
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(assets/headline-curve.svg);
  mask-image: url(assets/headline-curve.svg);
}

/* Waves Animation */

.waves > use {
  animation: move-forever 2s -2s linear infinite;
}

.waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 6s;
}
.waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.waves svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30vw;
  max-height: 200px;
}

/* Imgs Students */

.img-1 {
  position: absolute;
  top: -57%;
  left: -105px;
  width: 220px;
}

.img-2 {
  width: 450px;
  box-shadow: rgba(252, 92, 152, 0.2) 5px 5px, rgba(252, 92, 152, 0.1) 10px 10px,
    rgba(252, 92, 152, 0.05) 15px 15px;
}

.img-3 {
  position: absolute;
  width: 220px;
  top: 70%;
  left: 330px;
}

.notes {
  position: absolute;
  width: 350px;
  right: 38%;
  bottom: -55%;
}

.notes div {
  position: absolute;
  top: -40px;
  right: -35px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
